* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container{
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}
.inner-container{
    border: 2px solid #0ff;
    width: 40vw;
    height: 50vh;
    margin: 150px auto;
}
.box{
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

/* ------------------------------- */

section{
    height: 100vh;
}
.blue{
    background-color: #0ff;
}
.red{
    background-color: rebeccapurple;
}
.green{
    background-color: lightgreen;
}
header, footer{
    columns: #fff;
    text-align: center;
    height: 80px;
}
header{
    position: sticky;
    top: 0;
    font-size: 3.5rem;
}
footer{
    background-color: #000;
    position: fixed;
    bottom:0;
    width: 100%;
    font-size: 3rem;
}
footer a{
    color: #fff;
    text-decoration: none;
}
a:visited{
    color: #fff;
}
.social{
    background-color: royalblue;
    color: #fff;
    font-size: inherit;
    padding:1rem;
    position: fixed;
    top:30%;
    left: 0;
    z-index: 1;
}